* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif, Arial;
}

.spellon-header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.spellon-header-area .spellon-logo-area img {
  max-width: 88px;
  height: auto;
}
.spellon-header-area .spellon-header-right ul {
  list-style-type: none;
}
.spellon-header-area .spellon-header-right ul li a {
  text-decoration: none;
  display: inline-block;
}
.spellon-header-area .spellon-header-right .spellon-primary-nav ul {
  display: flex;
  align-items: center;
}
.spellon-header-area .spellon-header-right .spellon-primary-nav ul li a {
  -webkit-margin-end: 24px;
          margin-inline-end: 24px;
  color: rgb(33, 47, 100);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 22px;
}
.spellon-header-area .spellon-header-right .spellon-nav-right .spellon-nav-list {
  display: flex;
}
.spellon-header-area .spellon-header-right .spellon-nav-right .spellon-nav-list li a {
  margin: 0;
  font-family: Poppins, sans-serif, Arial;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  color: rgb(35, 44, 95);
  text-transform: capitalize;
  display: block;
  margin-left: 24px;
  margin-top: 15px;
}

.spellon-main {
  padding-top: 90px;
  background: #f5f5f5;
  padding-bottom: 30px;
  min-height: 100vh;
}
.spellon-main .spellon-search {
  display: flex;
}
.spellon-main .spellon-search .search-option-area {
  position: relative;
}
.spellon-main .spellon-search .search-option-area .search-option-btn button {
  background: transparent;
  border: 0;
  color: #212F64;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.spellon-main .spellon-search .search-option-area .search-option-btn button:hover {
  background: rgba(228, 230, 255, 0.4470588235);
}
.spellon-main .spellon-search .search-option-area .search-option-btn .fa-chevron-down {
  font-size: 12px;
  display: inline-block;
  color: #212F64;
}
.spellon-main .spellon-search .search-option-area .search-option-list {
  position: absolute;
  list-style-type: none;
  padding: 0px;
  top: 45px;
  left: 0px;
  width: 235px;
  background: #fff;
  z-index: 899;
  box-shadow: 2px 2px 2px 3px rgba(128, 128, 128, 0.08);
  border-radius: 6px;
  padding-bottom: 20px;
  padding-top: 10px;
  transform: scale(0);
  transform-origin: top;
  transition: all ease-in 0.3s;
}
.spellon-main .spellon-search .search-option-area .search-option-list li {
  padding: 5px 15px;
  text-transform: capitalize;
  color: rgba(34, 34, 34, 0.956);
}
.spellon-main .spellon-search .search-option-area .search-option-list li:hover {
  background: #e4e6ff;
}
.spellon-main .spellon-search .search-option-area .search-option-list.show-option {
  transform: scale(1);
}
.spellon-main .spellon-search .search-form {
  position: relative;
  margin-top: 2px;
}
.spellon-main .spellon-search .search-form input {
  width: 560px;
  padding: 6px 10px;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-radius: 5px;
}
.spellon-main .spellon-search .search-form input::-moz-placeholder {
  text-transform: capitalize;
}
.spellon-main .spellon-search .search-form input:-ms-input-placeholder {
  text-transform: capitalize;
}
.spellon-main .spellon-search .search-form input::placeholder {
  text-transform: capitalize;
}
.spellon-main .spellon-search .search-form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.334);
  outline: none;
}
.spellon-main .spellon-search .search-btn {
  position: absolute;
  top: 0;
  right: 1px;
  height: 38px;
  padding: 0px 24px;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-left: none;
  outline: none;
  background: #e4e6ff;
  color: rgb(122, 122, 122);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all ease-in-out 0.4s;
}
.spellon-main .spellon-search .search-btn:hover {
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */